<app-grid [desktop]="6">
  <mat-card grid-item>
    <mat-card-header>
      <mat-card-title>Закупки</mat-card-title>
      <mat-card-subtitle
        >Добавление информации о новых закупках и просмотр сведений о
        текущих</mat-card-subtitle
      >
    </mat-card-header>
    <mat-card-actions>
      <button mat-flat-button color="primary" [routerLink]="['/purchases']">
        Перейти
      </button>
    </mat-card-actions>
  </mat-card>
  <mat-card grid-item>
    <mat-card-header>
      <mat-card-title>Товары</mat-card-title>
      <mat-card-subtitle
        >Добавление информации о новых товарах и просмотр сведений о
        текущих</mat-card-subtitle
      >
    </mat-card-header>
    <mat-card-actions>
      <button mat-flat-button color="primary" [routerLink]="['/products']">
        Перейти
      </button>
    </mat-card-actions>
  </mat-card>
  <mat-card grid-item>
    <mat-card-header>
      <mat-card-title>Продажи</mat-card-title>
      <mat-card-subtitle
        >Добавление информации о новых продажах и просмотр сведений о
        текущих</mat-card-subtitle
      >
    </mat-card-header>
    <mat-card-actions>
      <button mat-flat-button color="primary" [routerLink]="['/sales']">
        Перейти
      </button>
    </mat-card-actions>
  </mat-card>
</app-grid>
