<div class="grid">
    <mat-card class="grid__item-6 grid__item-sm-12">
        <mat-card-header>
          <mat-card-title>Закупки</mat-card-title>
          <mat-card-subtitle>Добавление информации о новых закупках и просмотр сведений о текущих</mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions>
          <button mat-flat-button color="primary" [routerLink]="['/purchases']">Перейти</button>
        </mat-card-actions>
    </mat-card>
    <mat-card class="grid__item-6 grid__item-sm-12">
        <mat-card-header>
          <mat-card-title>Товары</mat-card-title>
          <mat-card-subtitle>Добавление информации о новых товарах и просмотр сведений о текущих</mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions>
            <button mat-flat-button color="primary" [routerLink]="['/products']">Перейти</button>
        </mat-card-actions>
    </mat-card>
</div>