<app-dialog [title]="'Товар'" (closed)="closeDialog()">
  <app-dialog-body>
    <app-form [formGroup]="form" (keyup.enter)="formSubmit()">
      <mat-form-field form-field appearance="outline">
        <mat-label>Название</mat-label>
        <input matInput formControlName="Title" />
      </mat-form-field>
      <mat-form-field form-field appearance="outline">
        <mat-label>Закупочная стоимость</mat-label>
        <input
          matInput
          type="number"
          formControlName="PurchasePrice" /> </mat-form-field
    ></app-form>
  </app-dialog-body>
  <app-dialog-actions
    ><button mat-raised-button dialog-action (click)="formSubmit()">
      {{ product ? 'Сохранить изменения' : 'Сохранить' }}
    </button></app-dialog-actions
  >
</app-dialog>
