<app-dialog title="Закупка" (closed)="closeDialog()">
  <app-dialog-body>
    <mat-vertical-stepper [linear]="true">
      <mat-step [stepControl]="mainFormGroup">
        <app-wrapper [marginTop]="10">
          <ng-template matStepLabel>Основная информация по закупке</ng-template>
          <app-form [formGroup]="mainFormGroup">
            <mat-form-field appearance="outline" form-field>
              <mat-label>Заметка</mat-label>
              <input matInput formControlName="Title" />
            </mat-form-field>
            <mat-form-field appearance="outline" form-field>
              <mat-label>Дата закупки</mat-label>
              <input matInput [matDatepicker]="picker" formControlName="Date" />
              <mat-datepicker-toggle
                matIconSuffix
                [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <mat-form-field appearance="outline" form-field>
              <mat-label>Номер заказа</mat-label>
              <input matInput formControlName="OrderNumber" />
            </mat-form-field>
            <mat-form-field appearance="outline" form-field>
              <mat-label>Текущий статус</mat-label>
              <mat-select formControlName="Status">
                <mat-option
                  *ngFor="let statusKey of statusKeys"
                  [value]="statusKey">
                  {{ statusKey | purchaseStatus }}
                </mat-option>
              </mat-select>
            </mat-form-field></app-form
          >
        </app-wrapper>
      </mat-step>
      <mat-step [stepControl]="productsFormGroup">
        <app-wrapper textAlign="center" [marginTop]="20">
          <ng-template matStepLabel>Какие товары закупаем?</ng-template>
          <ng-container *ngIf="productsFormArray.length === 0"
            >Добавьте хотя бы один товар в закупку</ng-container
          >
          <app-purchase-product-table
            [dataSource]="productsFormArray.value"
            (updated)="
              updatePurchaseProductsFormArray($event)
            "></app-purchase-product-table>
          <app-wrapper textAlign="center" [marginTop]="10">
            <button
              mat-flat-button
              color="primary"
              (click)="openPurchaseProductEditorDialog()">
              Добавить товар
            </button>
          </app-wrapper>
        </app-wrapper>
      </mat-step>
      <mat-step>
        <app-wrapper textAlign="center" [marginTop]="20">
          <ng-template matStepLabel> Сохраняем? </ng-template>
          В любой момент закупку можно будет отредактировать
          <app-wrapper textAlign="center" [marginTop]="10">
            <button mat-flat-button color="primary" (click)="formSubmit()">
              Завершить
            </button>
          </app-wrapper>
        </app-wrapper>
      </mat-step>
    </mat-vertical-stepper></app-dialog-body
  >
</app-dialog>
