<app-dialog [title]="'Закупка'" (closed)="closeDialog()">
  <app-dialog-body>
    <mat-vertical-stepper [linear]="true">
      <mat-step [stepControl]="mainFormGroup">
        <app-wrapper [marginTop]="10">
          <ng-template matStepLabel>Основная информация по закупке</ng-template>
          <app-form [formGroup]="mainFormGroup">
            <mat-form-field appearance="outline" form-field>
              <mat-label>Заметка</mat-label>
              <input matInput formControlName="Title" />
            </mat-form-field>
            <mat-form-field appearance="outline" form-field>
              <mat-label>Дата закупки</mat-label>
              <input matInput [matDatepicker]="picker" formControlName="Date" />
              <mat-datepicker-toggle
                matIconSuffix
                [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <mat-form-field appearance="outline" form-field>
              <mat-label>Номер заказа</mat-label>
              <input matInput formControlName="OrderNumber" />
            </mat-form-field>
            <mat-form-field appearance="outline" form-field>
              <mat-label>Текущий статус</mat-label>
              <mat-select formControlName="Status">
                <mat-option
                  *ngFor="let statusKey of statusKeys"
                  [value]="statusKey">
                  {{ statusKey | purchaseStatus }}
                </mat-option>
              </mat-select>
            </mat-form-field></app-form
          >
        </app-wrapper>
      </mat-step>
      <mat-step [stepControl]="productsFormGroup">
        <app-wrapper textAlign="center" [marginTop]="20" [showBorder]="true">
          <ng-template matStepLabel>Закупаемые товары</ng-template>
          <app-purchase-product-table
            [dataSource]="productsFormArray.value"
            (updated)="
              updateProductsFormArray($event)
            "></app-purchase-product-table>
          <app-wrapper textAlign="center">
            <button
              matTooltip="Добавить товар"
              mat-icon-button
              color="primary"
              (click)="openProductEditorDialog()">
              <mat-icon>add</mat-icon>
            </button>
          </app-wrapper>
        </app-wrapper>
      </mat-step>
    </mat-vertical-stepper></app-dialog-body
  >
  <app-dialog-actions>
    <button
      mat-flat-button
      dialog-action
      color="primary"
      (click)="formSubmit()"
      [disabled]="mainFormGroup.invalid || productsFormGroup.invalid">
      Сохранить
    </button>
  </app-dialog-actions>
</app-dialog>
<app-loader-spinner
  [visible]="isLoading"
  [text]="'Закупка сохраняется...'"></app-loader-spinner>
