<div class="dialog">
    <mat-toolbar class="dialog__toolbar" color="primary">
        <ng-container *ngIf="purchase; else default">
          Редактирование закупки
        </ng-container>
        <ng-template #default>
          Новая закупка
        </ng-template>
        <button mat-icon-button (click)="closeDialog()">
            <mat-icon>close</mat-icon>
          </button>
    </mat-toolbar>
    <div class="dialog__body">
      <mat-vertical-stepper [linear]="true">
        <mat-step [stepControl]="mainFormGroup">
            <div class="dialog__mat-step-wrapper">
              <form
              class="dialog__form"
              [formGroup]="mainFormGroup"
              (keyup.enter)="formSubmit()">
              <ng-template matStepLabel>Основная информация по закупке</ng-template>
              <mat-form-field appearance="outline" class="am-dialog__form-field">
                <mat-label>Заметка</mat-label>
                <input matInput formControlName="Title" />
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Дата закупки</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="Date">
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
              <mat-form-field appearance="outline" class="am-dialog__form-field">
                <mat-label>Номер заказа</mat-label>
                <input matInput formControlName="OrderNumber" />
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Текущий статус</mat-label>
                <mat-select formControlName="Status">
                  <mat-option *ngFor="let statusKey of statusKeys" [value]="statusKey">
                    {{ statusKey | purchaseStatus }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </form>
          </div>
        </mat-step>
        <mat-step [stepControl]="productsFormGroup">
          <div class="dialog__mat-step-wrapper">
            <ng-template matStepLabel>Какие товары закупаем?</ng-template>
              <ng-container *ngIf="productsFormArray.length == 0">Добавьте хотя бы один товар в закупку</ng-container>
              <app-purchase-product-table [dataSource]="productsFormArray.value" (updated)="updatePurchaseProductsFormArray($event)"></app-purchase-product-table>
              <div class="dialog__mat-step-actions">
                <button mat-flat-button color="primary" (click)="openPurchaseProductEditorDialog()">Добавить товар</button>
              </div>
          </div>
        </mat-step>
        <mat-step>
          <div class="dialog__mat-step-wrapper">
            <ng-template matStepLabel>Сохранение закупки</ng-template>
              В любой момент закупку можно будет отредактировать
            <div class="dialog__mat-step-actions">
              <button mat-flat-button color="primary" (click)="formSubmit()">Завершить</button>
            </div>
          </div>
        </mat-step>
      </mat-vertical-stepper>
    </div>
</div>
