.wrapper--p-10
{
    padding: 10px;
}

.wrapper--p-20
{
    padding: 20px;
}

.wrapper--p-30
{
    padding: 30px;
}

.wrapper--margin-top-10
{
    margin-top: 10px;
}

.wrapper--margin-top-20
{
    margin-top: 20px;
}

.wrapper--text-align-left
{
    text-align: left;
}

.wrapper--text-align-center
{
    text-align: center;
}

.wrapper--overflow-auto
{
    overflow: auto;
}

.wrapper--overflow-visible
{
    overflow: visible;
}