<app-wrapper [padding]="0">
  <ng-container
    *ngIf="isLoading && !dataSource; then loaderContent; else dataContent">
  </ng-container>
  <ng-template #loaderContent> </ng-template>
  <ng-template #dataContent>
    <table
      mat-table
      [dataSource]="dataSource"
      class="table"
      *ngIf="dataSource && dataSource.length > 0; else emptyOrErrors">
      <ng-container matColumnDef="title">
        <th mat-header-cell table-cell *matHeaderCellDef>Наименование</th>
        <td mat-cell table-cell *matCellDef="let element">
          {{ element.Title }}
        </td>
      </ng-container>

      <ng-container matColumnDef="purchasePrice">
        <th mat-header-cell table-cell *matHeaderCellDef>
          Закупочная стоимость
        </th>
        <td mat-cell table-cell *matCellDef="let element">
          {{ element.PurchasePrice }}
        </td>
      </ng-container>

      <ng-container matColumnDef="retailPrice">
        <th mat-header-cell table-cell *matHeaderCellDef>
          Розничная стоимость
        </th>
        <td mat-cell table-cell *matCellDef="let element">
          {{ element.RetailPrice }}
        </td>
      </ng-container>

      <ng-container matColumnDef="purchaseDate">
        <th mat-header-cell table-cell *matHeaderCellDef>Дата закупки</th>
        <td mat-cell table-cell *matCellDef="let element">
          {{ element.PurchaseBrief.Date | date : 'dd.MM.yyyy' }}
        </td>
      </ng-container>

      <ng-container matColumnDef="orderNumber">
        <th mat-header-cell table-cell *matHeaderCellDef>Номер заказа</th>
        <td mat-cell table-cell *matCellDef="let element">
          {{ element.PurchaseBrief.OrderNumber }}
        </td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell table-cell *matHeaderCellDef>Статус</th>
        <td mat-cell table-cell *matCellDef="let element">
          <app-product-status [value]="element.Status"></app-product-status>
        </td>
      </ng-container>

      <ng-container matColumnDef="actions" stickyEnd>
        <th mat-header-cell table-cell *matHeaderCellDef></th>
        <td mat-cell table-cell *matCellDef="let element">
          <button
            mat-icon-button
            [matMenuTriggerFor]="menu"
            [disabled]="isLoading">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="openPurchaseEditorDialog(element)">
              Подробнее о закупке
            </button>
          </mat-menu>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <ng-template #emptyOrErrors>
      <ng-container *ngIf="hasErrors; then errors; else empty"></ng-container>
      <ng-template #errors
        ><app-table-has-errors></app-table-has-errors
      ></ng-template>
      <ng-template #empty>
        <app-table-empty-message>
          Добавьте свою первую закупку на странице закупок для отображения
          товаров
        </app-table-empty-message>
      </ng-template>
    </ng-template>
  </ng-template>
</app-wrapper>
