$progress-bar-height: 8px;

.main-content
{
    padding: 16px;
}

.main-content--h100
{
    height: calc(100% - $progress-bar-height);
}

.main-content--centered
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-toolbar,
.main-toolbar__left
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-toolbar__back
{
    margin-right: 5px;
}

.main-toolbar__title
{
    margin-bottom: -3px;
}

.main-progres-bar
{
    height: $progress-bar-height;
}